<?xml version="1.0" encoding="utf-8" ?>

<!--
	Defines the system endpoint for the master database.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<api>
			<GraphQL>
				<defaults>
					<content>
						<schemaProviders>
							<verifyEmail type="Jet2.Feature.POC.Api.Email.CheckEmailExists, JEt2.Feature.POC" />
						</schemaProviders>
					</content>
				</defaults>
				<endpoints>
					<verifyEmail url="/sitecore/api/graph/poc/verifyEmail" type="Sitecore.Services.GraphQL.Hosting.GraphQLEndpoint, Sitecore.Services.GraphQL.NetFxHost" resolve="true">
						<url>$(url)</url>
						<enabled role:require="ContentManagement">true</enabled>
						<gui role:require="ContentManagement">DebugOnly (follow web.config compilation setting)</gui>
						<schema hint="list:AddSchemaProvider">
                            <content ref="/sitecore/api/GraphQL/defaults/content/schemaProviders/verifyEmail" param1="master" />
                        </schema>
						<security ref="/sitecore/api/GraphQL/defaults/security/publicService" />
                        <performance ref="/sitecore/api/GraphQL/defaults/performance/standard" />
                        <cache type="Sitecore.Services.GraphQL.Hosting.QueryTransformation.Caching.GraphQLQueryCache, Sitecore.Services.GraphQL.NetFxHost">
                            <param desc="name">$(url)</param>
                            <param desc="maxSize">10MB</param>
                        </cache>
                        <extenders hint="list:AddExtender">
                        </extenders>
					</verifyEmail>
				</endpoints>
			</GraphQL>
		</api>
	</sitecore>
</configuration>